<header>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })

            @*<div class="header-logo">
                @await Component.InvokeAsync("Logo")
            </div>*@
            <!--<div class="header-selectors-wrapper">-->
                @*@await Component.InvokeAsync("TaxTypeSelector")*@
                @*@await Component.InvokeAsync("CurrencySelector")*@
                @*@await Component.InvokeAsync("LanguageSelector")*@
                @*@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors })*@
            <!--</div>-->
            @*<div class="header-links-wrapper">
                <div class="mobile-menu" id="syMobileMenu">
                    <i class="fas fa-bars fa-3x"></i>
                </div>*@

                @await Component.InvokeAsync("HeaderLinks")
                @await Component.InvokeAsync("FlyoutShoppingCart")
            @*</div>*@
       
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMiddle })
    @*//ToDo: Make Dynamic*@
    @*<div class="header-lower">
            <div class="header-logo">
                @await Component.InvokeAsync("Logo")
            </div>
            <div class="search-box store-search-box">
                @await Component.InvokeAsync("SearchBox")
            </div>
        </div>*@
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderAfter })
</header>

